
<p>pipes works!</p>

<p>Async Pipe Example</p>
<p>{{name}}</p>
<p>Upper case: {{name | uppercase}}</p>
<p>Lower case: {{name | lower}}</p>
<!-- <ul>
  <li *ngFor="let todo of listOfToDos$ | async">
    <b>Name:</b>
    {{todo.name}}
    <b>User Name:</b>
    {{todo.username}}
  </li>
</ul> -->
<div class="card-box">

<div class="row">
  <div class="table-responsive">
    <table>
      <thead>
        <tr>
          <th>User Id</th>
          <th>Id</th>
          <th>Title</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listOfPosts$ | async">
          <td>{{item.userId}} </td>
          <td>{{item.id}} </td>
          <td>{{item.title}} </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>


<p>
  With digitsInfo parameter specified:
  {{123456789.14159265359 | number:'4.1-5'}}
  <!--output: '0,003.14159'-->
</p>
<div>
  <p>
    No specified formatting:
    {{ pi | number }}
    <!--output: '3.142'-->
  </p>

  <p>
    With digitsInfo parameter specified:
    {{ pi | number: '4.1-5' }}
    <!--output: '0,003.14159'-->
  </p>

  <p>
    With digitsInfo and locale parameters specified:
    {{ pi | number: '4.1-5' }}
    <!--output: '0 003,14159'-->
  </p>
</div>

{{ dateObj | date }} // output is 'Jun 15, 2015'<br>
{{ dateObj | date:'medium' }} // output is 'Jun 15, 2015, 9:43:11 PM' <br>
{{ dateObj | date:'shortTime' }} // output is '9:43 PM' <br>
{{ dateObj | date:'mm:ss' }} // output is '43:11'<br>
{{ dateObj | date:"MMM dd, yyyy 'at' hh:mm a" }} // output is 'Jun 15, 2015 at 09:43 PM'<br>
 <!-- https://angular.io/api/common/DatePipe -->

<div>
  <!--output '$0.26'-->
  <p>A: {{ a | currency }}</p>

  <!--output 'CA$0.26'-->
  <p>A: {{ a | currency: 'CAD' }}</p>

  <!--output 'CAD0.26'-->
  <p>A: {{ a | currency: 'CAD' : 'code' }}</p>

  <!--output 'CA$0,001.35'-->
  <p>B: {{ b | currency: 'CAD' : 'symbol' : '4.2-2' }}</p>

  <!--output '$0,001.35'-->
  <p>B: {{ b | currency: 'CAD' : 'symbol-narrow' : '4.2-2' }}</p>

  <!--output '0 001,35 CA$'-->

  <!--output 'CLP1' because CLP has no cents-->
  <p>B: {{ b | currency: 'CLP' }}</p>

  <!--output 'CLP1' because CLP has no cents-->
  <p>B: {{ b | currency: 'INR' }}</p>
</div>

  <pre>{{ obj | json }}</pre>
    <div>

      Age 1: <p ngClass="{{ HopeTutorsAge | validateAge }}">{{ HopeTutorsAge  }}</p>

      Age 2:<p ngClass="{{ TrainerAge | validateAge }}">{{ TrainerAge }}</p>


    </div>



