/* You can add global styles to this file, and also import other style files */


.card-box {
  padding: 10px;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  margin-bottom: 10px;
  background-color: #ffffff;
}
